<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Interactors</title>
  </head>
  

  <body>
    <div class="container mt-5">
      <h2> Interactors List </h2>
      <div class="border p-sm-3 text-dark rounded bg-light">
        <div class="text-center">
          <table class='table'>
            <thead class='thead-light'>
              <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody id="interactors-list-container">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Fetch and display interactors
        async function fetchDataAndRenderTable() {
          try {
              // Fetch data from the server
              const response = await fetch("/api/master/interactors");

              // Check if the response status is OK (200)
              if (!response.ok) {
                  throw new Error(`Error: ${response.status} - ${response.statusText}`);
              }

              // Parse the response as JSON
              const data = await response.json();

              // Initialize an empty string to store HTML content
              let interactorsHTML = " ";
             

              for (let interactor of data["values"]) {
                  // Check if the properties exist before accessing them
                  const name = interactor["name"] || "N/A";
                  const phoneNumber = interactor["phone_number"] || "N/A";
                  const address = interactor["address"] || "N/A";

                  // Build HTML rows for each interactor
                  interactorsHTML += `<tr><td>${name}</td><td>${phoneNumber}</td><td>${address}</td></tr>`;
              }

              

              // Set the HTML content in the "interactors-list-container" element
              document.getElementById("interactors-list-container").innerHTML = interactorsHTML;
        } catch (error) {
            console.error("Error fetching data:", error.message);
            // Handle the error as needed (e.g., show an error message to the user)
        }
}

// Call the asynchronous function
fetchDataAndRenderTable();

    </script>  
    
  </body>
</html>